/* Custom Video Player */
.video-container {
  position: relative;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-controls button {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}
/* Overlay Image Card */

.ioverlay-card {
  position: relative;
  text-align: left;
}

.ioverlay-card img {
  height: 15rem;
  width: 30rem;
  border-radius: 4px;
}

.ioverlay-card .card-content {
  position: absolute;
  top: 25px;
  left: 20px;
}

.ioverlay-card .card-content .card-title {
  font-size: 25px;
}

.io-card-1 {
  color: #fff;
}

.io-card-1 .card-content .card-text {
  width: 95%;
  line-height: 1.5;
  padding-bottom: 10px;
}

.io-card-1 .card-link {
  position: absolute;
  top: 140px;
  left: 20px;
}

.io-card-1 .card-link button {
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  background: #3F51B5;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.io-card-1 .card-link button:hover {
  color: #3F51B5;
  background: #fff;
  border-color: #fff;
}

.io-card-2 .card-content {
  color: #fff;
}

.io-card-2 .card-link {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.io-card-2 .card-link button {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.io-card-2 .card-link button:hover {
  color: black;
  background-color: #fff;
}

.io-card-2 .card-content .card-text {
  line-height: 1.5;
  padding-bottom: 10px;
}

@media only screen and (max-width: 360px) {
  .ioverlay-card .card-content {
    top: 10px;
  }

  .io-card-1 .card-link {
    top: 70px;
  }

  .card-category-5 .per-card-2 {
    width: 275px;
  }

  .card-category-5 .per-card-2 .card-image {
    width: 295px;
  }

  .card-category-5 .per-card-3 {
    width: 320px;
    height: 254px;
  }
}